<div class="container mt-5">
  <div class="card">
    <h5 class="card-header">Products</h5>
    <div class="card-body">
      <app-table [tableHead]="theadTemplate" [tableBody]="tbodyTemplate" [pageSize]="20" [filterColumn]="['title']"
        [pagination]="true" [data]="products" [search]="true" [loading]="loading">
        <ng-template #theadTemplate>
          <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>CATEGORY</th>
            <th>PRICE</th>
            <th>ACTION</th>
          </tr>
        </ng-template>
        <ng-template let-product #tbodyTemplate>
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button class="btn btn-sm btn-success me-1">Edit</button>
              <button class="btn btn-sm btn-danger">Edit</button>
            </td>
          </tr>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>